<!DOCTYPE html>
<html lang="en">

<%- include('./common/head.ejs') %>

    <body>
        <div id="main">
            <div class="landing">
                <div class="dark-overlay">
                    <div class="landing-inner">
                        <form class='my-4' action="/auth/register" method="POST">

                            <h1>World cup 2022</h1>
                            <h4>Keep memories of this year's world cup season</h4>
                            <% if (message) %>
                                <% if (type==='warning' ) { %>
                                    <div class="alert alert-danger" role="alert">

                                        <% message.forEach(mess=> { %>
                                            <div>
                                                <%= mess %>
                                            </div>
                                            <% }) %>
                                    </div>
                                    <% } else if (type==='success' ) { %>
                                        <div class="alert alert-success" role="alert">
                                            <%= message %>
                                        </div>
                                        <% } %>
                                            <div class='my-4'>
                                                <input type='email' required class="form-control" placeholder='Email'
                                                    name='username' value="<%= username %>" onChange="" required />
                                            </div>
                                            <div class='my-4'>
                                                <input type='password' required class="form-control"
                                                    placeholder='Password' name='password' value="<%= password %>"
                                                    onChange="" required />
                                            </div>
                                            <div class='my-4'>
                                                <input type='password' required class="form-control"
                                                    placeholder='Confirm Password' name='confirmPassword'
                                                    value="<%= confirmPassword %>" onChange="" required />
                                            </div>
                                            <div class='my-4'>
                                                <input type='text' required class="form-control" placeholder='Name'
                                                    name='name' value="<%= name %>" onChange="" required />
                                            </div>
                                            <div class='my-4'>
                                                <input type='number' required class="form-control"
                                                    placeholder='Year of birth' name='YOB' value="<%= YOB %>"
                                                    onChange="" required />
                                            </div>

                                            <button class="Btn Btn--success" variant='success'
                                                type='submit'>Register</button>
                        </form>
                        <p style="display: flex; align-items: center;">
                            Already have an account?
                            <a href='/login-page' style="margin-left: 1rem; text-decoration: none;">
                                <button class="Btn Btn--primary login-register-btn" variant='info' size='sm'
                                    class='ms-2'>Login</button>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>